/* ----------- FUENTES      */ 
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	*{
		font-family: 'Open Sans', sans-serif;
	}
	body{
		font-size: 16px;
	}

/* ----------- COLORES      */
	a,
	a:hover,
	.uk-navbar-dropdown-nav>li>a,
	.color-general{
		color: black;
	}
	em,
	.buybutton,
	.uk-navbar-dropdown-nav>li>a:hover,
	.color-primary,
	.color-primary-hover:hover{
		color: #544b40;
	}
	.buybutton:hover,
	.social,
	.color-secondary{
		color: #ff2c25;
	}
	.color-secondary-1{
		color: white;
		text-shadow: -4px -1px 0px #204065;
	}
	.color-blanco{
		color: #fff;
	}
	.color-verde{
		color: #22cf5b;
	}
	.color-rojo{
		color: #c4262e;
	}
	.color-rojo-vivo{
		color: #ff0000;
	}
	.color-gris-9{
		color: #8c8b8b;
	}
	.color-gris-7{
		color: #777;
	}
	.color-gris-6{
		color: #666;
	}
	.color-gris-4{
		color: #444;
	}
	.color-gris{
		color: #a7a6a4;
	}
	.color-gris-3{
		color: #333;
	}
	.color-gris-2{
		color: #222;
	}
	.color-gris-a,
	.color-gris-a:hover{
		color: #a6a8ab;
	}
	.color-gris-d{
		color: #ddd;
	}
	.color-naranja{
		color:#ed771f;
	}
	.uk-accordion-title:focus,
	.uk-accordion-title:hover,	
	.textfooter li a,
	.color-blanco,
	.color-blanco:hover,
	.ui-datepicker-calendar a{
		color: white;
	}
	.uk-slidenav,
	.color-negro{
		color: black;
	}

/* ----------- FONDOS       */
	.bg-primary{
		background: rgb(179,47,79);
	}
	.ajax-file-upload{
		background: rgb(179,47,79)!important;
	}
	.bg-secondary{
		
	}
	
	.uk-slidenav,
	.bg-none{
		background: none;
	}
	.bg-danger,
	.bg-red{
		background: #e30613;
	}
	.bg-success{
		background: #32d296;
	}
	.bg-blue{
		background: #1e87f0;
	}
	.bg-warning,
	.bg-yellow{
		background: #f6b61a;
	}

	.uk-navbar-dropdown,
	.bg-white{
		background: white;
	}
	.bg-gris-claro{
		background: #DDD;
	}
	.bg-gris{
		background: #888;
	}
	.uk-subnav-pill > .uk-active > a,
	.bg-gris-oscuro{
		background: #444;
	}
	.bg-black{
		background: black;
	}

	.bg-dark{
		background: rgba(0,0,0,.8);
	}
	.bg-oscuro{
		background: rgba(0,0,0,.5);
	}
	.bg-claro{
		background: rgba(250,250,250,.7);
	}

	.bg-test1{
		background: #ff0;
	}
	.bg-test2{
		background: #f0f;
	}
	.bg-test3{
		background: #0ff;
	}

/* ----------- NAVEGACIÓN   */
	#navegacion{
	}
	.uk-navbar-nav > li > a,
	.uk-navbar-item,
	.uk-navbar-toggle {
		border-bottom: solid 3px transparent;
		color: black;
		font-family: 'Nunito', sans-serif;
		font-size: 1em;
		padding: 0 20px;
		min-height: 50px;
		text-transform: capitalize;
	}
	.uk-navbar-nav > li.uk-active > a,
	.uk-navbar-nav > li:hover > a,
	.uk-navbar-nav > li > a:focus,
	.uk-navbar-nav > li > a.uk-open {
		border-bottom: solid 3px #7ab3c7;
		color: black;
		outline: none;
	}
	.uk-navbar-dropdown-nav{
		text-align: left;
	}
	.uk-navbar-dropdown {
		margin: 0;
	}
	.uk-navbar-dropdown-nav>li>a{
		font-size: 18px;
		margin: 0;
		padding-left: 5px;
	}
	.uk-grid-item-match>:not([class*=uk-width]), .uk-grid-match>*>:not([class*=uk-width]){
		margin-top:16px;
	}
	.fa-bars:before{
		margin-top:20px!important;
		font-size: 30px!important;
	}


	/* Off canvas */
	.uk-offcanvas-bar{
		background: black;
	}
	.uk-offcanvas-bar a{
		border:solid 1px #666;
		color: #CCC;
		background: #666;
		font-size: 1em!important;
		text-align: left;
		padding-left: 10px!important;
	}

	.uk-offcanvas-bar a:hover{
		color:#DDD;
		background: #333;
	}

	.uk-offcanvas-bar li{
		border-radius: 10px;
		margin-top: 5px;
	}

	.uk-offcanvas-bar .uk-nav-sub a{
		padding-left: 20px;
	}

/* ----------- TEMPLATE     */

	.uk-pagination li{
		padding-left: 5px;
	}
	.uk-pagination a{
		padding: 2px 10px;
		border-radius: 100%;
		background: white;
		border: #544b40 1px solid; 
		color: #544b40;
	}
	.uk-pagination .uk-active,
	.uk-pagination a:hover{
		background: #544b40;
		color: white;
		border: #544b40 1px solid;
	}
	.pagination-arrows{
		background: none!important;
		border: none!important;
		color: #544b40!important;
	}


/*  ---------- GENERALES    */
	#cotizacion-fixed{
		top:0;
		right:0px;
		width:30px;
		z-index: 1011;
	}
	#cotizacion-fixed div{
		width: 40px;
		position: fixed;
		right: 0;
		top: 50%;
		margin-top: -150px;
	}
	#cotizacion-fixed img{
		box-shadow: 0 0 20px white;
		border-radius: 10px 0 0 10px;
	}
	a{
		text-decoration: none!important;
	}
	a,
	a:hover,
	.uk-button,
	.uk-button:hover,
	.transicion,
	.transicion:hover{
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	#totop{
		position: fixed;
		right: 35px;
		z-index:999;
	}
	#totop a{
		color: white;
		font-size: 30px;
		height: 60px;
		width: 60px;
	}
	h1{
		font-size:5em;
	}
	h2{
		font-size: 1.1em;
	}
	h3,h4,h5,h6{
		font-size: 1em;
	}
	.alpha0{
		opacity: 0;
	}
	.claro,
	.alpha-1-5:hover{
		opacity:.6;
	}
	.oscuro,
	.alpha-1-0:hover{
		opacity:0;
	}
	.alpha-1-0,
	.alpha-1-5,
	.claro:hover,
	.oscuro:hover,
	.alpha1hover:hover{
		opacity: 1;
	}
	.margin-0{
		margin: 0;
	}
	.margin-40-0{
		margin:40px 0;
	}
	.margin-0-40{
		margin:0 40px;
	}
	.margin-70-0{
		margin:70px 0;
	}
	.margin-60-0{
		margin:60px 0;
	}
	.margin-top-5{
		margin-top: 5px;
	}
	.margin-top-10{
		margin-top: 10px;
	}
	.margin-top-20{
		margin-top: 20px;
	}
	.margin-top-25{
		margin-top: 25px!important;
	}
	.margin-top-30{
		margin-top: 30px;
	}
	.margin-top-40{
		margin-top: 40px;
	}
	.margin-top-50{
		margin-top: 50px;
	}
	.margin-top-80{
		margin-top: 80px;
	}
	.margin-top-100{
		margin-top: 100px;
	}
	.margin-top-120 {
	    margin-top: 120px;
	}
	.margin-top-menos-150{
		margin-top: -150px;
	}
	.margin-top-menos-100{
		margin-top: -100px;
	}
	.margin-top-menos-60{
		margin-top: -60px;
	}
	.margin-top-menos-50{
		margin-top: -50px;
	}
	.margin-top-menos-30{
		margin-top: -30px;
	}
	.margin-top-menos-20{
		margin-top: -20px!important;
	}
	.margin-top-menos-10{
		margin-top: -10px;
	}
	.margin-bottom-50{
		margin-bottom: 50px;
	}
	.margin-bottom-80{
		margin-bottom: 80px!important;
	}
	.margin-bottom-20{
		margin-bottom: 20px;
	}
	.margin-h-5{
		margin-left: 5px;
		margin-right: 5px;
	}
	.margin-v-20{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.margin-v-25{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.margin-v-50{
		margin-bottom: 50px;
		margin-top: 50px;
	}
	.margin-v-70{
		margin-bottom: 70px;
		margin-top: 70px;
	}
	.margin-left-0{
		margin-left:0;
	}
	.margin-left-10{
		margin-left:10px;
	}
	.margin-right-10{
		margin-right: 10px;
	}
	.margin-right-20{
		margin-right: 20px;
	}
	.margin-right-menos-50{
		margin-right: -45px;
	}
	.margin-right-menos-20{
		margin-right: -15px;
	}
	.padding-70-0{
		padding:70px 0;
	}
	.padding-20-10{
		padding:20px 10px;
	}
	.padding-30-0{
		padding:30px 0;
	}
	.padding-20-0{
		padding:20px 0;
	}
	.padding-10-26{
		padding:10px 26px;
	}
	.padding-0-40{
		padding:0 40px;
	}
	.padding-0-60{
		padding:0 60px!important;
	}
	.padding-80-80{
		padding:80px 80px;
	}
	.padding-0-80{
		padding:0 80px;
	}
	.padding-20-100{
		padding:20px 100px;
	}
	.padding-12-40 {
		padding: 5px 40px;
	}
	.padding-12-40{
		padding: 12px 40px;
	}
	.padding-20-20{
		padding:20px 20px;
	}
	.padding-8-8{
		padding:8px 8px;
	}
	.padding-bottom-10{
		padding-bottom: 10px;
	}
	.padding-bottom-20{
		padding-bottom: 20px;
	}
	.padding-bottom-50{
		padding-bottom: 50px;
	}
	.padding-bottom-80{
		padding-bottom: 80px;
	}
	.padding-bottom-60{
		padding-bottom: 60px;
	}
	.padding-bottom-80{
		padding-bottom: 80px;
	}
	.padding-bottom-50{
		padding-bottom: 50px;
	}
	.padding-bottom-100{
		padding-bottom: 100px;
	}
	.padding-bottom-200{
		padding-bottom: 200px;
	}
	.padding-top-2{
		padding-top: 2px;
	}
	.padding-top-5{
		padding-top: 5px;
	}
	.padding-top-8{
		padding-top: 8px!important;
	}
	.padding-top-10{
		padding-top: 10px;
	}
	.padding-top-20{
		padding-top: 20px;
	}
	.padding-top-30{
		padding-top: 30px;
	}
	.padding-top-40{
		padding-top: 40px;
	}
	.padding-top-50{
		padding-top: 50px;
	}
	.padding-top-60{
		padding-top: 60px;
	}
	.padding-top-100{
		padding-top: 100px;
	}
	.padding-v-3{
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.padding-v-5{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.padding-v-10{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.padding-v-20{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.padding-v-50{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.padding-v-100{
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.padding-left-10{
		padding-left: 10px;
	}
	.padding-left-20{
		padding-left: 20px;
	}
	.padding-left-50{
		padding-left: 50px;
	}
	.padding-left-100{
		padding-left: 100px;
	}
	.padding-right-10{
		padding-right: 10px;
	}
	.padding-right-20{
		padding-right: 20px;
	}
	.padding-right-50{
		padding-right: 50px;
	}
	.padding-h-5{
		padding-left: 5px;
		padding-right: 5px;
	}
	.padding-h-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	.padding-h-20{
		padding-left: 20px;
		padding-right: 20px;
	}
	.padding-h-30{
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding-h-50{
		padding-left: 50px;
		padding-right: 50px;
	}
	.padding-h-70{
		padding-left: 70px;
		padding-right: 70px;
	}
	.padding-0{
		padding: 0px;
	}
	.padding-5{
		padding:5px;
	}
	.padding-10{
		padding:10px;
	}
	.padding-15{
		padding:15px;
	}
	.padding-20{
		padding:20px;
	}
	.padding-30{
		padding:30px;
	}
	.padding-50{
		padding:50px;
	}
	.min-height-150px{
		min-height: 150px;
	}
	.min-height-250px{
		min-height: 250px;
	}
	.max-height-300px{
		max-height: 300px;
	}
	.min-height-500px{
		min-height: 500px;
	}
	.max-width-200{
		max-width: 200px;
	}
	.max-width-600{
		max-width: 600px;
	}
	.pointer{
		cursor: pointer;
	}
	#map{
		min-height: 400px;
	}
	.text-3{
		font-size: .3em;
	}
	.text-4{
		font-size: .4em;
	}
	.text-5{
		font-size: .5em;
	}
	.text-6{
		font-size: .6em;
	}
	.text-xs,
	.text-7{
		font-size: .7em;
	}
	.text-8{
		font-size: .8em;
	}
	.text-sm,
	.text-9
	{
		font-size: .9em;
	}
	.text-11
	{
		font-size: 1.1em;
	}
	.text-lg{
		font-size: 1.2em;
	}
	.text-xl{
		font-size: 1.5em;
	}
	.text-xxl{
		font-size: 2em;
	}
	.text-xxxl{
		font-size: 3em;
	}
	.text-50-px{
		font-size:50px!important;
	}

	.text-v{
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
	.strong-text::first-letter { 
	  	font-size:38px;
		font-weight:800;
		text-align:center;
	}
	.strong-text::first-line {
 		font-size:34px;
		font-weight:100;
		text-align:center;
	}
	.title{
		font-size:34px;
		color:#444;
		font-weight:700;
		text-align:center;
	}
	.title-2{
		font-size:34px;
		color:#444;
		font-weight:100;
		text-align:center;
	}
	.title-3{
		font-size:34px;
		color:#444;
		font-weight:800;
		text-align:center;
	}
	.font-bold{
		font-weight:bold;
	}
	.uk-text-bold{
		font-weight: 600;
	}
	.uk-text-light{
		font-weight: 300;
	}

	.margin-0{
		margin: 0px;
	}
	/* danger */
	.uk-button{
		font-weight: 700;
		text-transform: none;
	}
	.uk-button-danger{
		background: #f00;
		color: #fff;
	}
	.uk-button-danger:active,
	.uk-button-danger.uk-active{
		background: #d00;
		color: #fff;	
	}
	.uk-button-danger:hover,
	.uk-button-danger:focus{
		background: #a00;
		color: #fff;
	}

	/* personal */
	.uk-button-personal {
		  background: #675f53;
		  color: white;
		  border: solid 2px #675f53;
	}
	/* Hover + Focus */
	.uk-button-personal:active,
	.uk-button-personal.uk-active,
	.uk-button-personal:hover,
	.uk-button-personal:focus {
		  background-color: white;
		  border: solid 2px #675f53;
		  color: #675f53;
	}

	/* slider */
	.uk-button-slider {
		  background: rgba(0,0,0,.5);
		  color: white;
		  border: solid 2px white;
	}
	.uk-button-slider:active,
	.uk-button-slider.uk-active,
	.uk-button-slider:hover,
	.uk-button-slider:focus {
		box-shadow: 0 0 20px white;
		background-color: black;
		border: solid 2px white;
		color: white;
	}

	/* Login */
	.uk-button-login{
		background: white;
	}

	/* registro */
	.uk-button-registro {
		  background: #59a168;
		  border-radius: 15px;
		  color: white;
		  border: solid 2px #59a168;
		  padding-left: 20px;
		  width: 100%;

	}
	/* Hover + Focus */
	.uk-button-registro:active,
	.uk-button-registro.uk-active,
	.uk-button-registro:hover,
	.uk-button-registro:focus {
		  background-color: transparent;
		  border: solid 2px #59a168;
		  color: #59a168!important;

	}

	/* Footer */
	.uk-button-fotter {
	  background: white;
	  border-radius: 10px;
	  color: #2d63a3;
	  margin-left: 5px;
	  width: 120px;
	  padding-left: 20px;

	}
	footer {
		font-size:11px;
	}
	footer .uk-card-default{
		background-color:transparent;
		box-shadow:none;
		margin:0;
		padding:0
	}
	footer h6{
		font-size:12px;
	}
	footer hr{
		border-top: solid #ed771f;
	    height: 1px;
	    margin: 10px auto;
	    width: 100px;
	}
	/* Hover + Focus */
	.uk-button-fotter:active,
	.uk-button-fotter.uk-active,
	.uk-button-fotter:hover,
	.uk-button-fotter:focus {
	  background-color: #0079b0;
	  color: white;
	}
	/*AQUI PODEMOS CAMBIAR EL COLOR DEL BORDER BOTTOM Y EL COLOR DE ICONO Y EL NOMBRE 
	  YA QUE LOGEADO*/
	.linea-button{ 
		border-bottom: solid 2px #59a168;
		color: #ff7344;
	}
	.outline-5{
		outline: solid 5px white;
	}
	.outline-10{
		outline: solid 10px white;
	}
	.button-border{
    	border: solid #ff7a0b 2px;
    	border-radius: 20px;
	}

	/* totop */
	.uk-button-totop,
	.uk-button-totop:hover,
	.uk-button-totop:focus,
	.uk-button-totop:active,
	.uk-button-totop.uk-active {
	  background-color: #333;
	  color: #fff;
	}
	/*  claro */
	.uk-button-white {
	  background-color: #fff;
	  color: #333;
	  border: 1px solid #fff;
	}
	/* Hover + Focus */
	.uk-button-white:hover,
	.uk-button-white:focus {
	  background-color: #eee;
	  color: #111;
	}
	/* OnClick + Active */
	.uk-button-white:active,
	.uk-button-white.uk-active {
	  background-color: #ddd;
	  color: #000;
	}
	/*  TOP */
	.uk-button-top {
	  background-color: #000;
	  border: 1px solid #000;
	  color: #EEE;
	  font-size: 18px;
	  padding-top: 5px;
	}
	/* Hover + Focus */
	.uk-button-top:hover,
	.uk-button-top:focus {
	  background-color: #000;
	  color: #fff;
	}
	/* OnClick + Active */
	.uk-button-top:active,
	.uk-button-top.uk-active {
	  background-color: #000;
	  color: #CCC;
	}
	.uk-lightbox {
		background: rgba(0,0,0,.7)!important;
	}
	.uk-notification-message{
		background: none!important;
		color: white;
		text-align: center;
	}
	.uk-notification-message div{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	textarea{
		resize:none;
	}
	.z1{
		z-index: 1;
	}

	.z2{
		z-index: 2;
	}

	/* SCROLL */
	::-webkit-scrollbar {
	  width: 8px;
	}
	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 0 transparent; 
	  border-radius: 8px;
	  background: transparent;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
	  border-radius: 8px;
	  background: #CCC;
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: transparent; 
	}

/* ============== HOME SECTION ============== */ 
/* -------------- Tenemos todo lo necesario */
	.footer-menu{
		background:transparent;     
		position: absolute;
    	bottom: 40px;
	}
	#menu-movil{
			background:#d9dcdc;height:100vh;width:100%;
		}
	#pc{
		display:block;
		opacity:1;
	}
	#movil{
		display:none;
		opacity:0;
	}
	#menu i{
		margin-top:0!important;
		color:#999;
	}
	#menu p{
		color:#999;
		font-size: 9px;
		position: relative;
		margin-bottom: 0!important;
		margin-top:36px!important;
	}
	.aling-center{
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	.cero{
		margin:0!important;
		padding:0!important;
	}
	.width-100{
		width:100%
	}
	.img-tenemos{
		background-position:center!important;
		background-size:100% 100%!important;
		background-repeat:no-repeat!important;
		height:170px;
		width:200px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;	
	}
	.tenemos-1{
		background:url(../img/design/venta-equipo.png);
	}
	.tenemos-2{
		background:url(../img/design/venta-equipo.png);
	}
	.tenemos-3{
		background:url(../img/design/servicio-tecnico.png);
	}
	.tenemos-4{
		background:url(../img/design/consumibles.png);
	}
	.tenemos{
		margin:0;
		padding:0 12px;
	}
	.container-tenemos h6{
		margin:0;
		padding:10px 0;
	}
	.container-tenemos:hover h6{
		color:#ed771f;
	}
	.container-tenemos .circle{
		border: solid 2px #444;
		border-radius: 100%;
		height:130px;
		width: 130px;
	}
	.container-tenemos:hover .circle{
		border: solid 2px #ff7a0b;
		background-color:#444;
		-webkit-transition: 2s; 
  		transition: 2s;
	}
	.container-tenemos:hover div .tenemos-1{
		background:url(../img/design/venta-refacciones.png);
	}
	.container-tenemos:hover div .tenemos-2{
		background:url(../img/design/venta-refacciones.png);
	}
	.container-tenemos:hover div .tenemos-3{
		background:url(../img/design/venta-refacciones.png);
	}
	.container-tenemos:hover div .tenemos-4{
		background:url(../img/design/venta-refacciones.png);
	}
	.number{
		color:#ff7a0b;
		font-size: 80px;
	    margin: 0!important;
	    padding: 0!important;
	    font-weight: 700;
	}
	.uk-grid-divider>:not(.uk-first-column)::before {
		border: solid 1px #ff7a0b;
	}
	@-webkit-keyframes fadeInUp{
	  0%{
	    opacity: 0;
	    -webkit-transform: translateY(80px);
	  }
	  100%{
	    opacity: 1;
	    -webkit-transform: translateY(0);
	  }
	}

	@keyframes fadeInUp{
	  0%{
	    opacity: 0;
	    transform: translateY(80px);
	  }
	  100%{
	    opacity: 1;
	    transform: translateY(0);
	  }
	}
	.cohete{
	  -webkit-animation:fadeInUp 2s alternate; 
	  animation:fadeInUp 2s alternate;
	}
	.cohete-modal{
	  -webkit-animation:zoomInDown 5s infinite alternate; 
	  animation:zoomInDown 5s infinite alternate;
	}
	#banners{
		background:#d3d3d3;
		width:100%
	}
	.no-banner{
		background:transparent;
		margin:0!important
	}
	.si-banner-left{
		background:transparent;
		position: absolute;
		z-index: 99;
		left:100px;
		min-height: 400px;
		width:700px;
		background: #fff;
		margin: 86px 0!important;
	}
	.si-banner-righ{
		background:transparent;
		position: absolute;
		z-index: 99;
		right:100px;
		min-height: 400px;
		width:700px;
		background: #fff;
		margin: 86px 0!important;
	}
	.img-banner{
		background-position:center!important;
		background-size:cover!important;
		background-repeat:no-repeat!important;
		height:600px;
		width:100%;
		margin-left:auto;
		margin-right:auto;
		text-align:center;	
	}
	.banner-1{
		background:url(../img/design/banner-2.png);
	}
	#uk-grid-margin{
		margin:0;
	}
	#banners ul {
		list-style: none;
		padding:0;
		margin:0;
	}
	#banners ul li { 
		padding-left: 1em; 
		text-indent: -.7em;
	}
	#banners ul li:before {
		content: "• ";
		color:#ff7a0b; 
	}
	.uk-button-totop, .uk-button-totop:hover, .uk-button-totop:focus, .uk-button-totop:active, .uk-button-totop.uk-active,
	#menu2 .uk-box-shadow-large,
	#menu2 .uk-icon-button{
		background:transparent;
		box-shadow: none;
	}
	#menu2 .img-element{
		background-position:center!important;
		background-size:100% 100%!important;
		background-repeat:no-repeat!important;
		height:130px;
		width:200px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;	
	}
	.element-1{
		background:url(../img/design/venta-equipo.png);
	}
	#menu2 .item-container{
		margin:0;
		padding:0 12px;
		height:170px;
	}
	#menu2 .container-item h6{
		margin:0;
		padding:10px 0;
	}
	#menu2 .container-item .contain-menu2{
		display:none;
		position: relative;
		z-index:999999;
		width:auto;
		padding-bottom:30px;
		padding: 10px 0!important;
	}
	#menu2 .container-item:hover .contain-menu2{
		display:block;
		background-color:#d3d3d3;
		border-radius:3px;
		
	}
	#menu2 .container-item p{
		color:#fff; 
	}
	#menu2 .container-item hr{
		border-top:solid 3px #fff!important;
		height:0.5px; margin-right: auto;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:10px;
    	margin-top:10px;
		text-align:center;
		width:60px
	}
	#menu2 .container-item ul {
		list-style: none;
		margin:0;
		text-align:left;
		font-size:11px;
    	padding: 0 10%!important;
		padding-bottom:10px;
		width: 80%;
	}
	#menu2 .container-item ul li { 
		color:#fff;
		padding-left: 1em; 
		text-indent: -.7em;
		text-align:left;
		margin:0 20px;
		margin-bottom:10px;
	}
	#menu2 .container-item ul li a{
		margin:0;
		padding:0;
	}
	#menu2 .container-item ul li a:hover{
		font-weight:bold;
	}
	#menu2 .container-item ul li:before {
		content: "• ";
		color:#fff; 
	}
	#menu2 .container-item div .element-1{
		background:url(../img/design/icon2.png);
	}
	#menu2 .container-item:hover div .element-1{
		background:url(../img/design/venta-refacciones.png);
	}
	#menu2 .container-item:hover ul li:before {
		content: "• ";
		color:#444444; 
	}
	.item-container-top{top: 50%!important;}

	.img1{
		background-position: center!important;
	    background-size:cover!important;
	    background-repeat: no-repeat!important;
	    height: 100%;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	}
	#slide2{
		background:#f1f2f2; 
		width:100%
	}
	#slide2 .uk-slideshow-items{
		height:100vh;
	}
	#slide2 .picture-1{
		background:url(../img/design/banner-slider2.jpg);
	}
	#slide2 .picture-2{
		background:url(../img/design/banner-2.png);
	}
	#slide2 .picture-3{
		background:url(../img/design/banner-1.jpg);
	}
	#slide2 button{
		border: solid #ff7a0b 2px;
    	border-radius: 20px;
    	color:#444;
    	font-weight: 100;
	    position: absolute;
	    right: 0;
	    margin-right: 14%;
	    padding:0 60px;
	    bottom: 0;
	    margin-bottom:12%;
	}
	#slider-cotizador{
		border:solid orange 4px;
	}
	#loUltimo div ul li div{
		margin: 0;
		padding:0 44px;
	}
	#loUltimo div ul li div h6{
		color:#444;
		font-weight:700;
	}
	#loUltimo div ul li:hover div h6{
		color:#ff7a0b;
		font-weight:700;
	}
	#loUltimo div ul li div button{
		border:solid 2px #444;
		padding:0 16px
	}
	#loUltimo div ul li:hover div button{
		border:solid 2px #ff7a0b;
		-webkit-transition: 2s; 
  		transition: 2s;
	}
	#loUltimo div ul li:hover div img{
		-webkit-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
		border-radius:8px;
		-webkit-transition: .5s; /* Safari prior 6.1 */
  		transition: .5s;
	}
	.vivencias{
		background:url(../img/design/chef.jpg);
	}
	.necesito{
		background:url(../img/design/necesito.png);
	}
	.banner-title{
		font-size:40px;
		padding: 190px 0 40px;
		color: #fff;
	}
	.banner-blond{
		font-weight:700;
	}
	.border-70{
		border-radius: 70px!important;
	}
	.lines{line-height: 16px;}
	.boton-contactar{
	    border: solid #ed771f;
	    border-radius:40px;
	    color: #fff;
	    letter-spacing:1px;
	    font-size: 15px;
	    line-height: 15px;
    	padding:10px 50px;
    	margin: 20px;
	}
	.boton-padding{
    	padding:14px 50px!important;
	}
/*++MENU+++]*/
.uk-card-primary.uk-card-body .uk-close, .uk-card-primary>:not([class*=uk-card-media]) .uk-close, .uk-card-secondary.uk-card-body .uk-close, .uk-card-secondary>:not([class*=uk-card-media]) .uk-close, .uk-light .uk-close, .uk-offcanvas-bar .uk-close, .uk-overlay-primary .uk-close, .uk-section-primary:not(.uk-preserve-color) .uk-close, .uk-section-secondary:not(.uk-preserve-color) .uk-close, .uk-tile-primary:not(.uk-preserve-color) .uk-close, .uk-tile-secondary:not(.uk-preserve-color) .uk-close{
	color: #000
}
.uk-offcanvas-close svg{
	color:#999;
	height: 40px;
    width: 40px;
}
.whithoutlineBox {
  width:14%;
  display:inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height:26%;
  margin-top: 50px;
}
.lineBox,
.lineBox-start, 
.lineBox-fin {
  width:14%;
  display:inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 26%;
  margin-top: 50px;
}
.lineBox-fin{
	width:1%!important; 
}
.lineBox-start::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#b1b1b1;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    top: -80px;
    right: -13px;
    z-index: 5;

}
.lineBox::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#b1b1b1;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    top: 118px;
    left: -11px;
    z-index: 5;
}
.lineBox::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#b1b1b1;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    top: -15px;
    right: -14px;
    z-index: 5;
}
.lineBox-start::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#b1b1b1;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    top: -80px;
    right: -13px;
    z-index: 5;
}
.lineBox-fin::after {
	background:#b1b1b1;
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#b1b1b1;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    bottom: -70px;
    left: -12px;
    z-index: 5;
}
.lineBox-start {}
.line {
  width: 100%;
  height:120px;
  margin: 0;
  padding: 0;
  position: relative;
}
.line line {
  stroke-width: 1px;
  stroke:#b1b1b1;
  vector-effect: non-scaling-stroke;
}
.zero{
  padding:0;
  margin:0;
}
.position-menu3 a:hover,
.position-menu3:hover,
.position-menu2:hover,
.position-menu2 a:hover,
.position-menu1 a:hover,
.position-menu1:hover{
	/* -webkit-animation:jello 2s infinite alternate; 
	animation:jello 2s infinite alternate; */
	color:#ff7a0b!important;
}
.lineBox-fin:hover:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#ff7a0b!important;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    bottom: -70px;
    left: -12px;
    z-index: 5;
}
.lineBox-start:hover:after{
	/*-webkit-animation:jello 2s infinite alternate; 
	animation:jello 2s infinite alternate;*/
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#ff7a0b!important;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    top: -80px;
    right: -13px;
    z-index: 5;
}
.whithoutlineBox {
  width:14%;
  display:inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height:26%;
  margin-top: 50px; 
}
.whithoutlineBox::after{
  	content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#b1b1b1!important;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    top: -15px;
    left: -13px;
    z-index: 5;
}
.whithoutlineBox::before{
  	content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#b1b1b1!important;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    top: -15px;
    left: -15px;
    z-index: 5;
}
.whithoutlineBox:hover:after{
  	content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#ff7a0b!important;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    top: -15px;
    left: -15px;
    z-index: 5;
}
.lineBox:hover:after{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background:#ff7a0b!important;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    top: 118px;
    left: -11px;
    z-index: 5;
}

/*.position-menu1:hover .lineBox-start:before{
	background:green
}*/
.uk-offcanvas-bar a,
.uk-offcanvas-bar a:hover,
.position-menu-start{
	border: solid transparent;
	background:transparent;
}
.position-menu-start a{
	color:#999;
	font-weight:600;
	position: absolute;
	top: -100px;
    left: 110px;
}
.position-menu1{
    color: #b1b1b1;
    font-weight: 600;
    position: absolute;
    top: -36px;
    left: -70px;
    height: 30px;
    z-index: 6;
}
.position-menu2{
	color:#b1b1b1;
	font-weight:600;
	position: absolute;
	bottom:-61px;
	left: -50px;
}
.position-menu3{
	color:#b1b1b1;
	font-weight:600;
	position: absolute;
	bottom:-114px;
	left: -50px;
}

/* ============== HOME FIN SECTION ============== */ 

/* ============== CATEGORIAS FIN SECTION ============== */ 

	.uk-search-default .uk-search-input{
		border:none;
	}
	.uk-search-default{
	    border: solid #ff7a0b 2px!important;
	    border-radius: 20px!important;
	    color: #444!important;
	    font-weight: 100!important;
	    width:200px;
	    padding-right:20px;
	    padding-left: 20px;
	    margin-left: -60px;
	}
	.banner-header{
		background:url(../img/design/bn-header.jpg);
	}
/* ============== CATEGORIAS FIN SECTION ============== */ 

/* ============== PRODUCTOS FIN SECTION ============== */ 
	.container-product:hover div img{
		-webkit-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
		border-radius:8px;
		-webkit-transition: .5s; /* Safari prior 6.1 */
  		transition: .5s;
	}
	.container-product div h6{
		color:#444;
		font-weight:700;
	}
	.container-product:hover div h6{
		color:#ff7a0b;
		-webkit-transition: .5s; 
  		transition: .5s;
	}
	.btn-galeria{
		border: solid transparent;
	    color: #999;
	    font-weight: 100;
	    font-size:12px;
	}
	.galeria{
		height:90%;
		width:90%;
	}
	
	.uk-lightbox ul li{
		width:60%;
		margin:20%;
	}
	.uk-lightbox ul li img{
		height:auto;
		width:100%
	}
	.uk-transition-active.uk-active [class*=uk-transition-slide], .uk-transition-toggle:focus [class*=uk-transition-slide], .uk-transition-toggle:hover [class*=uk-transition-slide] {
	    background-color:transparent;
	}
	.uk-radio{
		margin-right:10px;
		margin-top:5px;
	}
	.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus,
	.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked,
	.uk-checkbox:focus, .uk-radio:focus{
		background-color:#ff7a0b;
		border:solid 1px #ff7a0b;
		margin-right:10px;
		margin-top:5px;
	}
	.boton{
		background-color:#ff7a0b;
		border: solid #ff7a0b 2px;
    	border-radius: 20px;
    	color:#fff;
	}
	.color-p{
		color:#777;
	}
	.uk-dotnav>*>*{
		border:solid orange 1px;
	}
	.uk-dotnav>.uk-active>*{
		border:solid orange 1px;
		background:orange;
	}
	#menu2{padding:4px 0!important}
/* ============== PRODUCTOS FIN SECTION ============== */ 


/* ----------- XML SITE MAP */
	urlset{
		background: url(../img/design/logo-white.png) no-repeat top center #00a193;
		padding-top: 110px;
	}
	url {
		background: #fff;
		display: block;
		padding: 10px
	}
	loc{
		display: block;
		margin: 0 auto;
		width: 1200px;
	}

/* ----------- MEDIA QUERY  */

	@media (min-width: 1800px){
		.bg-header-2{
			background-size: 100%;
		}
		.bg-central{
			background-size: 100%;
			height: 500px; 
		}
	}
	@media (max-width: 1600px){/*Tamaño xl*/

	}
	@media (max-width: 1400px){
	
	}
	@media (max-width: 1200px){/*Tamaño l*/
		.img-tenemos{
			height:120px;
			width:150px;
		}
		.img-element{
			height:120px;
			width:150px;
		}
		.padding-20-100{
			padding:20px 50px
		}
	}
	@media (max-width: 960px){ /*Tamaño m*/
		#menu-movil{
			background:#d9dcdc;height:auto;width:100%;
		}
		#movil{
			display:block;
			opacity:1;
		}
		#pc{
			display:none;
			opacity:0;
		}

		.footer-menu{
			bottom:10px;
		}
		.lineBox-M-A,
		.lineBox-M-B,
		.lineBox-M-d,
		.lineBox-M{
		  width:auto;
		  position:relative;
		  margin:0 auto;
		  padding:0;
		  height:80px;
		  margin-top:0;
		}
		.lineBox-M-d::before{
		    content:"";
		    position:absolute;
		    height:20px;
		    width:20px;
		    background:#888;
		    border:1px solid #888;
		    border-radius:100%;
		    top:-10px;
		    right:-10px;
		    z-index:5;
		    display:none;
		 }
		.lineBox-M-d::after{
		    content:"";
		    position:absolute;
		    height:20px;
		    width:20px;
		    background:#888;
		    border:1px solid #888;
		    border-radius:100%;
		    bottom:-10px;
		    left:-10px;
		    z-index:5;
		    display:none;
		 }
		.lineBox-M::before{
		    content:"";
		    position:absolute;
		    height:20px;
		    width:20px;
		    background:#888;
		    border:1px solid #888;
		    border-radius:100%;
		    top:-10px;
		    right:-10px;
		    z-index:5;
		    background:#999;
		 }
		.lineBox-M::after{
		    content:"";
		    position:absolute;
		    height:20px;
		    width:20px;
		    background:#888;
		    border:1px solid #888;
		    border-radius:100%;
		    bottom:-10px;
		    left:-10px;
		    z-index:5;
		    background:#999;
		 }

		.lineBox-M-A::before{
		    content:"";
		    position:absolute;
		    height:20px;
		    width:20px;
		    background:#888;
		    border:1px solid #888;
		    border-radius:100%;
		    top:-10px;
		    right:-10px;
		    z-index:5;
		    display:none;
		 }
		.lineBox-M-A::after{
		    content:"";
		    position:absolute;
		    height:20px;
		    width:20px;
		    background:#888;
		    border:1px solid #888;
		    border-radius:100%;
		    bottom:-10px;
		    left:-10px;
		    z-index:5; 
		    background:#999;
		 }

		.lineBox-M-B::before{
		    content:"";
		    position:absolute;
		    height:20px;
		    width:20px;
		    background:#888;
		    border:1px solid #888;
		    border-radius:100%;
		    top:-10px;
		    right:-10px;
		    z-index:5;
		    background:#999;
		 }
		.lineBox-M-B::after{
		    content:"";
		    position:absolute;
		    height:20px;
		    width:20px;
		    background:#888;
		    border:1px solid #888;
		    border-radius:100%;
		    bottom:-10px;
		    left:-10px;
		    z-index:5;
		    display:none;
		 }

		.line-M{
		  width:100%;
		  height:100%;
		  margin:0;
		  padding:0;
		  position:relative;
		}
		.line-M line{
		  stroke-width:1px;
		  stroke:#999;
		  vector-effect:non-scaling-stroke;
		}
		.position-movil-left{
		  text-align:left;
		  position:absolute;
		  left:-50px;
		  top:-70px;
		  text-decoration:none; 
		  color:#888;
		  font-size:18px;
		}
		.position-movil-right{
		  text-align:right;
		  position:absolute;
		  right:-50px;
		  top:-70px;
		  text-decoration:none; 
		  color:#888;
		  font-size:18px;
		}


		*{
			font-size:12px;
		}
		.eventos{
			margin-top: 0px;
		}	
		.header-eventos{
			position: absolute; 
			top:120px; 
			right: 0px;
		}
		.container-mision{
			border-left:none;
		}
		.container-vision{
			border-right:none;
		}
				#plan .uk-grid-divider{
			padding:0 40px;
		}
		#plan .uk-grid-divider .uk-first-column{
    		margin:0;
    		padding:0;
		}
		#plan .padding-top-30 {
		    padding-top: 16px;
		}
		#plan .number{
			font-size:50px;
		}
		#plan .uk-button:not(:disabled){
		    margin-bottom: 60px!important;
		}
		.si-banner-left,
		.si-banner-righ{
			left: 0;
			margin:10px 0!important;
			right:0;
			width:100%;
		}
		#slide2 .uk-slideshow-items {
			height:100vh
		}
		#slide2 .img1{
			background-size:contain!important;
		}
		#slide2 button{
			margin-right: auto;
		    margin-bottom: 3%;
		    margin-left: auto;
		    text-align: center;
		    right: 30%;
		}
		.img-banner{
			height:340px;
		}
		.no-banner{
			height:auto;
			width:100%!important;
		}
		.height-movil{
			height:420px
		}
		.uk-grid-margin{
			margin:0!important;
			padding:0!important
		}
		#banners .padding-30{
			padding:1px;
		}
		#exito .padding-0-80{
			padding:0 15px; 
		}
		.banner-title{
			font-size:20px;
			padding:80px 5px;
		}
		.text-4{
			font-size:12px;
		}
		.border-70{
			border-radius: 7px!important;
		}
		.boton-contactar{
	    	padding:10px 50px;
	    	margin:0;
	    	width:100%
		}
		
		.uk-search-default{
			margin:0;
			padding: 0;
			margin-left:30px;
		}
		.img-tenemos{
			height:170px;
			width:200px;
		}
		.img-element{
			height:160px;
			width:200px;
		}

		#menu2 .uk-position-center{
			top: 20%;
		}

		.top-slider{
			top: 30%!important;
		}
		#menu2 .container-item .contain-menu2{
			display:block;
		}
		#menu2 .container-item .contain-menu2{
			display:block;
			background-color:#d3d3d3;
			border-radius:3px;
			margin-top:20px!important; 
		}
		#menu p{
			margin-top:0px!important;
		}
		.fa-bars:before {
		    margin-top: 0px!important;
		    font-size: 20px!important;
		}
		.logo-header{
			width:50%;
		}
		#slide2 .picture-1{
			background:url(../img/design/banner-slider2-movil.jpg);
		}

		#slider-sub-categorias .uk-slider-items,
		#slider-detalle .uk-slider-items{
			margin: 50% 2em!important;
		}
		.padding-20-100{
			padding:20px 10px
		}
	}

	@media (max-width: 820px){
		.lineBox-M-A,
		.lineBox-M-B,
		.lineBox-M-d,
		.lineBox-M{
		  width:auto;
		  position:relative;
		  margin:0 auto;
		  padding:0;
		  height:60px;
		  margin-top:0;
		}

	}
	@media (max-width: 640px){/* Tamaño s*/
		.lineBox-M-A,
		.lineBox-M-B,
		.lineBox-M-d,
		.lineBox-M{
		  width:auto;
		  position:relative;
		  margin:0 auto;
		  padding:0;
		  height:50px;
		  margin-top:0;
		}
	}
	@media (max-width: 550px){
		.lineBox-M-A,
		.lineBox-M-B,
		.lineBox-M-d,
		.lineBox-M{
		  width:auto;
		  position:relative;
		  margin:0 auto;
		  padding:0;
		  height:50px;
		  margin-top:0;
		}
	}

